/*  12-Column Grid System for Desktop */

.col-1  { width: 8.33%; }   /* 1/12 of total width */
.col-2  { width: 16.66%; }  /* 2/12 = 1/6 */
.col-3  { width: 25%; }     /* 3/12 = 1/4 */
.col-4  { width: 33.33%; }  /* 4/12 = 1/3 */
.col-5  { width: 41.66%; }  /* 5/12 */
.col-6  { width: 50%; }     /* 6/12 = half */
.col-7  { width: 58.33%; }  /* 7/12 */
.col-8  { width: 66.66%; }  /* 8/12 = two-thirds */
.col-9  { width: 75%; }     /* 9/12 = three-fourths */
.col-10 { width: 83.33%; }  /* 10/12 */
.col-11 { width: 91.66%; }  /* 11/12 */
.col-12 { width: 100%; }    /* full width */

.nav-menu h1{
    text-align: right;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
}


.portfolio .profile-img{
    position: absolute;
    right: 100px;
    width: 120px;
    transition: width 2s,transform 2s;
}

.portfolio .profile-img:hover{
     width: 140px;
   transform: rotate(360deg);
}
.skill{
    padding: 0 10px;
}
.row {
    display: flex;
    align-items: stretch;   /* children will stretch to equal height */
    gap: 20px;              /* optional spacing */
}


footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.fcontainer {
   background-color:#05668d ;
    width: 100%;
    max-width: 1200px;   /* optional but recommended */
    margin: 0 auto;       /* center align */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col-4 {
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}

