*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Fira Sans", sans-serif;
     background-color:#F3F2EC;
    
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

p{
    font-size: 1.2rem;
}
.about-hr{
    border: dotted;
    color: white;
    border-bottom: none;
    width: 70px;
}

/*resposive for mobile/tab*/
[class *="col-"]{
    padding: 10px;
    float: left;
}

/*take full width*/
[class*="col-"]{
    width: 100%;
}

/* navbar */
.navbar{
    background-color: #05668d;
    padding: 10px;
}

.navbar h1{
    margin: 0;
    color: white;
    padding-top: 10px;
}

.nav-menu{
display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.navbar a{
    background-color:#028090;
    padding: 8px;
    margin:7px  0;
    border-radius: 20px;
    
}

.nav-menu a:hover{
    background-color: #415a77;
}

.navbar::after{
    content: '';
    display: table;
   clear: both;
}

/* profile */
.portfolio{
    background-color: #F3F2EC;
    position: relative;
    padding: 100px 15px;
    text-align: center;
}

.portfolio .profile-img{
    position: absolute;
    right: 5px;
    top: 50px;
    transition: transform 2s;
}

.portfolio .profile-img:hover{
   transform: rotate(360deg);
}

.profile h1{
    font-family: "satisfy","cursive";
 
}

.profile p{
    color: grey;
    text-align: center;
font-family: 'Times New Roman', Times, serif;
width: 90%;
margin: 0 auto 20px auto;
}

.portfolio{
    content: '';
    display: table;
   clear: both;
}

/* about me */
.about-me h2{
    text-align: center;
}

.about-me {
  background-color: #05668d;
  color: white;
  padding: 50px 10%;
  font-family: 'Fira Sans', sans-serif;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  justify-content: center;
}
.about-img  {
  flex: 1;
  text-align: center;
  padding-top: 20px;
  border-radius: 50%;
}

.about-img img{
    width: 200px;         
  height: 200px; 
  border-radius: 50%;
  border: 2px solid white;
}
.email:hover{
    cursor: pointer;
   font-weight: bold;
   text-shadow: 0 0 10px #5d5b58, 0 0 20px #ede5d1;
   
}
.name:hover{
    cursor: pointer;
   font-weight: bold;
   text-shadow: 0 0 10px #5d5b58, 0 0 20px #ede5d1;
   
}
.add:hover{
    cursor: pointer;
   font-weight: bold;
   text-shadow: 0 0 10px #5d5b58, 0 0 20px #ede5d1;
   
}
.con:hover{
    cursor: pointer;
   font-weight: bold;
   text-shadow: 0 0 10px #5d5b58, 0 0 20px #ede5d1;
   
}

.cv {
  background-color: #ffb703;
  border: none;
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
 transition:0.3s ease-in-out;
  display: flex;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 .cv:hover{
   background-color: chartreuse;
  transform: scale(1.1); 
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6); 
  font-size: 1.1rem; 
 }
.about-me p{
    text-align: center;
    font-size: 1.2rem;
}
.about-me::after{
    content: '';
     display: table;
   clear: both;
    
}

/* education */

.edu{
    padding: 1% 0%;
    border-radius: 10px;
}

.edu .card{
    border: 10px;
   height: auto;  
    padding: 20px;
    background-color:#F3F2EC;
    transition: 0.3s;
}
.row{
      background-color:#F3F2EC;
      width: 100%;
      box-sizing: border-box;
}
.card:hover{
    box-shadow: 0 4px 8px black;
}

.card-icon,.card-title{
    text-align: center;
}

.edu-img{
   width: 150px;
}

.edu .edu-ul li{
font-size: 1.2rem;
}

.edu::after{
     content: '';
     display: table;
   clear: both;
}

.edu .card-title{
    background-color:#B7B89F;
    height: 40px;
    font-weight: bold;
    
}

#edu-id{
    padding: 6px 0px;
}
/* skills */
.skill{
    padding: 0 10px;
    
}


#skill-id{
     padding: 6px 0px;
}

.skill .card-title{
    background-color:#B7B89F;
    height: 40px;
    font-weight: bold;
    
}

.skill .card{
    border: 10px;
    height: auto;  
    padding: 20px;
    background-color:#F3F2EC;
    transition: 0.3s;
}

.skill li{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin: 30px 10px;
    font-weight: bold;
    
}

.skill li::before{
    content: '';
    position: absolute;
    width: 99%;
    height: 10px;
    background-color: #B7B89F;
    top: calc(99% + 5px);
    border-radius: 30px;
}

.skill li::after{
    content: '';
    position: absolute;
    width: 0;
    left: 0; /*animation start from the begining of the width*/
    height: 10px;
    background-color:blue;
    top: calc(99% + 5px);
    border-radius: 30px;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*HTML*/
.skill .list li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 95%;
        background-color:#636CCB;
    }
}
/*CSS*/
@keyframes css{
    to{
        width: 94%;
        background-color:#636CCB;
    }
}

.skill .list li.css::after{
    animation-name: css;
}

/*BOOTSTRAP*/
.skill .list li.boot::after{
    animation-name: boot;
}
@keyframes boot{
    to{
        width: 90%;
        background-color: #636CCB;
    }
}
/*JS*/
.skill .list li.js::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 75%;
        background-color: #636CCB;
    }
}

/* PYTHON */
.skill .list li.py::after{
    animation-name: py;
}
@keyframes py{
    to{
        width: 75%;
        background-color: #636CCB;
    }
}

/* database */
.skill .list li.data::after{
    animation-name: data;
}
@keyframes data{
    to{
        width: 90%;
        background-color: #636CCB;
    }
}

/* wordpress */
.skill .list li.word::after{
    animation-name: word;
}
@keyframes word{
    to{
        width: 30%;
        background-color: #636CCB;
    }
}
/* seo */
.skill .list li.seo::after{
    animation-name: seo;
}
@keyframes seo{
    to{
        width: 30%;
        background-color: #636CCB;
    }
}

/* FOOTER */
.fcontainer{
    padding: 1% 7%;
    background-color:#05668d ;
    color: white;
    text-align: center;
   
}
.contact{
    text-align: center;
}

.contact input,textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

textarea {
    resize: none;
}

#name:hover{
    box-shadow: 0 4px 8px black;
}

#contact:hover{
    box-shadow: 0 4px 8px black;
}

textarea:hover{
    box-shadow: 0 4px 8px black;
}

.contact button{
    border: none;
    border-radius: 10px;
    width: 100px;
    color: white;
    background-color: goldenrod;
    padding: 5px;
    margin-top: 5px;
}

.contact button:hover{
    width: 120px;
    font-weight: bold;
   background-color: chartreuse;
  transform: scale(1.1); 
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
}

#reset{
    margin-left: 10px;
}

.media-button{
    text-align: center;
}

.media-button .btn{
    font-size: 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 15px;
    width: 50px;
}
.btn:hover{
    background-color: grey;
}
.fcontainer::after{
    content: '';
     display: table;
   clear: both;
    
}