 
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: antiquewhite;
        }
        h1{
            text-align: center;
        }
        .card{
           margin: 0 auto;
           text-align: center;
           margin-top: 20px;
           width: 300px;
           box-shadow:0 2px 3px 0 white;
           font-size: 0; /*to fit the buttons */
        }
        #result{
            width: 100%;
            height: 80px;
            text-align: end;
            font-size: 25px;
            padding: 5px;
            box-sizing: border-box;
            font-weight: bold;
        }
        .btn{
            width: 75px;
            height: 45px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            border-radius: 10px;
          
        }
        .card:hover{
            box-shadow: 0 16px 32px white;
        }
        .btn:hover{
            background-color: #808080;
        }
        .eual{
            background-color:#05DF72;
        }
        .color{
            background-color: #FFB86A;
        }
    